<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

		<title>Chronodesk </title>
	</head>
		<body>

<!-- START BLOC 1 -->
<div id="container-fluid">
<div class="row" id="row3">
	<div class="col" id="col7">
			<!--- start dropdown menu -->
				<a class="btn btn-secondar" href="#"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-bars"></i>
				</a>

				<div class="menu">
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<img src="../images/logo_chro.png" alt="logo_chro">
					<button type="button" class="close" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
					<a href="#" class="closing-cross"><i class="fas fa-times-circle"></i></a>
					<a class="dropdown-item" href="#"><i class="fas fa-ambulance"></i> Lorem ipsum</a>
					<a class="dropdown-item" href="#"><i class="fas fa-taxi"></i> Lorem ipsum</a>
					<a class="dropdown-item" href="#"><i class="fas fa-copy"></i> Lorem ipsum</a>
					<a class="dropdown-item" href="#"><i class="fas fa-chalkboard-teacher"></i> Lorem ipsum</a>
					<a class="dropdown-item" href="#"><i class="fas fa-share-alt"></i> Lorem ipsum</a>
				</div>
			</div>
			<!--- end dropdown menu -->
	</div>
	<div class="col" id="col8">
		 <a class="navbar-Facebook" href="#"><i class="fab fa-facebook"></i></a>
	</div>
	<div class="col" id="col9">
		<img class="navbar-logo" src="../images/Logo-ChronoDesk-horizontal_blanc.png" alt="chronodesk img">
	</div>
	<div class="col" id="col10">
		<div class="contact">
				<a class="navbar-location" href="#"><i class="fas fa-store"></i></a>
				<a class="navbar-account" href="#"><i class="fas fa-user-circle"></i></a>
				<a class="navbar-mail" href="#"><i class="fas fa-envelope"></i></a>
		</div>
</div>
</div>
<!--- start picture banner -->
<div class="row" id="row4">
	<div class="col" id="col11">
		<div class="background-banner">
			<div class="banner">
				<div class="hook">
					<h6>
						Chrono Desk
					</h6>
					<p>
						Le réseau d'assistant(e) indépendant(e)s qui donne de l'oxygène aux Entreprises
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!--- end picture banner -->
<!-- END BLOC 1 -->


		<!-- START BLOC 2 -->
	<div class="container-fluid">
	<div class="row" id="row5">
		<div class="col" id="col12">
			<div class="div1">
				<img class="cercle" src="../images/3-4_cercle.png" alt="cercle">
			</div>
				<div class="div2">
					<h4>Lorem ipsum dolor sit amet</h4>
					<p>Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas.<br>
						Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas. </p>
						<p>Ullamcorper sit amet risus nullam.</p>
					</div>
					<div class="div3">
						<p> Lorem ipsum amet</p>
					</div>
					<div class="div4">
						<img class="pattern" src="../images/pattern.png" alt="pattern">
					</div>
				</div>
				<div class="col" id="col13">
						<img src="../images/gratte_ciel.jpg" class="img-fluid" alt="gratte_ciel">
					</div>
			</div>
		</div>
		<!--- END BLOC 2  -->

		<!--======== START YELLOW BLOCK ========-->
<div class="container-fluid">
			<div class="row" id="row0">
						<div class="col" id="col00">
							 <img class="img-fluid" src="../images/femme_pull_jaune.png" alt="femme_pull_jaune">
						</div>
						<div class="col" id="col01">
								<div class="div6">
									<h4>Lorem ipsum dolor sit amet</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								<div class="div7">
									<img class="pattern" src="../images/icone_chronodesk_nb.png" alt="icone_chronodesk_nb">
								</div>
								<div class="div8">
									<p> Lorem ipsum amet</p>
								</div>
								<div class="div9">
									<img class="cercle" src="../images/triangle.png" alt="triangle">
								</div>
						</div>
			</div>
	</div>
<!--======== END YELLOW BLOCK ========-->

<!--======== START FOURTH BLOCK ========-->
<div class="container-fluid">
        <div class="row" id="row1">
        	<!--============== column 1 ===============-->
              <div class="col" id="col1">
                <div class="pattern">
                	<img src="../images/pattern.png" alt="square with patterns" />
              </div>
	          </div>
	        <!--============== column 2 ===============-->
	          <div class="col" id="col2">
								<div class="blue_bloc">
									<h3 class="blue_bloc_title">Lorem ipsum amet diet</h3>
									<p class="blue_bloc_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
									Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>
									<div class="signature_bloc">
										<p class=signature>Lorem ipsum.</p>
									</div>
									<div class="triangle_bloc">
										<img src="../images/triangle.png" alt="" class="triangle" >
								</div>
							</div>
							<div class="points_bloc">
									<div class="points_text"><a href="">...</a></div>
							</div>
					</div>
		  		<!--============== column 3 ===============-->
	          <div class="col" id="col3">
	            <div class="col3_logo">
	            	<img src="../images/logo_chro2.png" alt="logo chronodesk couleur" class="logo_c_color" >
	            	</div>
							<div class="col3_icon">
								<i class="fas fa-user-graduate"></i>
						</div>
				</div>
		  <!--============== column 4 ===============-->
				<div class="col" id="col4">
					<img src="../images/costume.jpg" alt="man at desk" class="right_picture">
					<div class="yellow_bloc">
							<p class="yellow_bloc_text">Lorem ipsum amet </p>
					</div>
				</div>
      </div>
		</div>
		<!--======== END FOURTH BLOCK ========-->
		<!--========== START FOOTER ===========-->
		<div class="container-fluid">
		<div class="row" id="row2">
			<div class="col" id="col6">
				<div class="footer_wrapper">
					<!--============== start logos_adress ===============-->
						<img src="../images/logo_chro.png" alt="logo chronodesk" id="logo_c">
						<img src="../images/logo_qualiopi.png" alt="logo qualiopi" id="logo_k">
						<p class="adress">20 rue des Quilles 77700 CHESSY<br>
						tél. 01 64 72 62 28 <br>
						contact@chronodesk</p>
					<!--============== end logos_adress ===============-->
					<!--============== Start Footer icons ===============-->
				<div class=" footer_icons">
						<a href="https://www.facebook.com/ChronoDesk/"><i class="fab fa-facebook-f"></i></a>
						<a href=""><i class="fas fa-store"></i></a>
						<a href=""><i class="fas fa-user"></i></a>
						<a href="contact@chronodesk.fr"><i class="fas fa-envelope"></i></a>
				</div>
				<!--============== End Footer icons ===============-->
				<!--============== Start menu ===============-->
				<nav class="footer_nav">
						<ul>
								<li><a href="">Contact</a></li>
								<li>|</li>
								<li><a href="">Plan du site</a></li>
								<li>|</li>
								<li><a href="">Politique de confidentialité</a></li>
								<li>|</li>
								<li><a href="">Mentions légales</a></li>
								<li>|</li>
								<li><a href="">Accessiblité</a></li>
								<li>|</li>
								<li><a href="">Gestion des cookies</a></li>
						</ul>
				</nav>
				<!--============== End menu ===============-->
			</div>
	</div>
	</div>
</div>
	<!--========== END FOOTER ===========-->
</body>
</html>
