<!DOCTYPE html>
<html>
<head>
<title>Chronodesk</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="../css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main-container">

  <div id="content">
    <!--- start header navbar ---------->
    <div class="navbar">
      <nav class="navbar">
        <!--- start dropdown menu ---------->
          <a class="btn btn-secondar " href="#"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-list"></i>
          </a>

          <div class="menu">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <img src="../images/Logo-ChronoDesk-vertical_blanc.png">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
            <a href="#"class="closing-cross"><i class="fas fa-times-circle"></i></a>
            <a class="dropdown-item" href="#"><i class="fas fa-ambulance"></i> Lorem ipsum</a>
            <a class="dropdown-item" href="#"><i class="fas fa-taxi"></i> Lorem ipsum</a>
            <a class="dropdown-item" href="#"><i class="fas fa-copy"></i> Lorem ipsum</a>
            <a class="dropdown-item" href="#"><i class="fas fa-chalkboard-teacher"></i> Lorem ipsum</a>
            <a class="dropdown-item" href="#"><i class="fas fa-share-alt"></i> Lorem ipsum</a>
          </div>
        </div>
        <!--- end dropdown menu ---------->
        <a class="navbar-Facebook" href="#"><i class="bi bi-facebook"></i></a>
        <img class="navbar-logo" src="../images/Logo-ChronoDesk-vertical_blanc.png" alt="chronodesk img">

        <div class="contact">
            <a class="navbar-location" href="#"><i class="fas fa-store"></i></a>
            <a class="navbar-account" href="#"><i class="fas fa-user-circle"></i></a>
            <a class="navbar-mail" href="#"><i class="fas fa-envelope"></i></a>
        </div>
      </nav>
    </div>
<!--- end header navbar ---------->

<!--- start picture banner ---------->
<div class="background-banner">
  <div class="banner">
    <div class="hook">
      <h6>
        Chrono Desk
      </h6>
      <p>
        Le réseau d'assistant(e) indépendant(e)s qui donne de l'oxygène aux Entreprises
      </p>
    </div>
  </div>
</div>

<!--- end picture banner ---------->

<!--- start bloc 1 ---------->
    <div class="container-fluid-1">
       <div class="left-side">
        <div class="div1">
          <h4>Lorem ipsum dolor sit amet</h4>
          <p>Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas.<br>
          Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas. </p>
          <p>Ullamcorper sit amet risus nullam.</p>
        </div>
        <div class="div2">
          <p> Lorem ipsum amet</p>
        </div>
        <div class="div3">
          <img class="pattern" src="../images/pattern.png" alt="pattern">
        </div>
        <div class="div4">
          <img class="cercle" src="../images/3-4_cercle.png" alt="cercle">
        </div>
      </div>
        <div class="div5">
          <img class="gratte_ciel" src="../images/gratte_ciel.jpg" alt="gratte_ciel" style="right: 0 height: 450px;position: relative;">
        </div>
      </div>
<!--- end bloc 1 ---------->
<div class="essai">
  <img src="../images/white_building.jpg">
</div>
<!--- start bloc 2 ---------->
  <div class="background-container">
    <div class="container-fluid-2">
        <div class="div6">
          <img class="femme_pull_jaune" src="../images/femme_pull_jaune.png" alt="femme_pull_jaune">
        </div>
        <div class="right-side">
          <div class="right side div7">
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="div8">
            <p> Lorem ipsum amet</p>
          </div>
          <div class="div9">
            <img class="pattern" src="../images/icone_chronodesk_nb.png" alt="icone_chronodesk_nb">
          </div>
          <div class="div10">
            <img class="cercle" src="../images/triangle.png" alt="triangle">
          </div>
      </div>
      </div>
    </div>
<!--- end bloc 2 ---------->

<!--======== START FOURTH BLOC========-->
	<div class="fourth">

		<div class="pattern_bloc">
			<div  class="pattern">
				<img src="../images/pattern.png" alt="square with patterns">
			</div>
		</div>
		<div class="blue_bloc">
			<div class="blue_bloc_text">
				<h3>Lorem ipsum amet diet</h3>
				<p >« Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. <br>Maecenas ligula massa, varius a, semper congue, euismod non, mi.<br><span class="signature"> Lorem ipsum.
				<img src="../images/triangle.png" alt="" class="triangle"></p>
				<div class="points">
					<p>...</p>
				</div>
			</div>
		</div>
		<div class="yellow_bloc">
			<p class="yellow_bloc_text">Lorem ipsum amet </p>
		</div>
		<div class="icons_bloc">
			<img src="../images/logo_chro2.png" alt="logo chronodesk couleur" class="logo_c_color">
			<i class="fas fa-user-graduate"></i>
		</div>
		<img src="../images/costume.jpg" alt="man at desk" class="right_picture">
	</div>
<!--======== END FOURTH BLOC ========-->
<!--==========START FOOTER===========-->
	<footer class="footer">
		<div class="footer_wrapper">

			<img src="../images/logo_chro.png" alt="logo chronodesk" id="logo_c">
			<img src="../images/logo_qualiopi.png" alt="logo qualiopi" id="logo_k">
			<p class="adress">20 rue des Quilles 77700 CHESSY<br>
			tél. 01 64 72 62 28 <br>
			contact@chronodesk</p>
		<div class=" footer_icons">
			<a href="https://www.facebook.com/ChronoDesk/"><i class="fab fa-facebook-f"></i></a>
			<a href=""><i class="fas fa-store"></i></a>
			<a href=""><i class="fas fa-user"></i></a>
			<a href="contact@chronodesk.fr"><i class="fas fa-envelope"></i></a>
		</div>
			<nav class="footer_nav">
				<ul>
					<li><a href="">Contact</a></li>
					<li>|</li>
					<li><a href="">Plan du site</a></li>
					<li>|</li>
					<li><a href="">Politique de confidentialité</a></li>
					<li>|</li>
					<li><a href="">Mentions légales</a></li>
					<li>|</li>
					<li><a href="">Accessiblité</a></li>
					<li>|</li>
					<li><a href="">Gestion des cookies</a></li>
				</ul>
			</nav>
		</div>
	</footer>
<!--==========END FOOTER===========-->
</div>
</div>
</body>
</html>
